
/* Fonts */
@import 
url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Archivo';
    text-align: center;
    margin-top: 100px;
    background-color: #000000;
}
#date {
    color: #F2613F;
}

#time{
    color: #9B3922;
}
.form {
    margin: auto;
    width: 500px;
    height: 250px;
}
.modal-title{
    font-size: 30px;
    color: #859F3D;
}
