* { box-sizing: border-box; }

header, nav, main, footer { display: block; }

body { 
	background-color: #0B0C10;
  	color: #3F2860;
  	font-family: Verdana, Arial, sans-serif;
}

* { box-sizing: border-box; }

header { background-color: #1F2833;
	   height: 150px;
	   text-align: center;
}

h1 { 
	padding-top: 50px;
    padding-left: 2em;
	color: #66FCF1;
	line-height: 200%; 
	background-image: url(car2.png);
	background-position: right;
	padding-left: 2em;
	margin-bottom: 0;
}

h2 { color: #45A29E; }

nav { 
	font-weight: bold; 
 	padding: 1em;
	float: left;
	width: 200px;
	text-align: center;
}

nav a {
	text-decoration: none; 
   	display: block;
	text-align: center;
	font-weight: bold;
	border: 3px outset #45A29E; 
	padding: 1em;
	margin-bottom: 1em;
	background-color: #1F2833;
}

nav a:link { color: #66FCF1; }

nav a:visited { color: #45A29E; }

nav a:hover { 
	color: #ff0000; 
	border: 3px inset #66FCF1;
}

nav ul { 
	list-style-type: none;
	padding-left: 0;
	float:left;
}

ol li { 
	counter-increment: list;
	list-style-type: none;
	position: relative;
}

ol li:before { 
	color: #45A29E;
	content: counter(list) ".";
	left:-32px;
	position: absolute;
	text-align: right;
	font-weight: bold;
	width: 26px;
} 

ul { list-style: none; }

ul li.part::before { 
	content: "\2022";  
	color: #45A29E; 
	font-weight: bold; 
	display: inline-block; 
	width: 1em; 
	margin-left: -1em; 
	font-size: 20px;
}

footer { 
	background-color: #1F2833;
    font-size: small;
	font-style: italic;
	text-align: center;
	padding: 1em;
	color: #66FCF1;
}

main { 
	padding-left: 2em;
    padding-right: 2em;
	display: block;
	margin-left: 170px;
	padding-top: 1em;
	background-color: #C5C6C7;
}

p { font-size: 15px; }

table { 
	margin: 1em;
	border: 5px solid #66FCF1;
	border-collapse: collapse;
}

td, th { 
	padding: 0.5em; 
	border: 1px solid #66FCF1;
}

.category { 
	font-weight: bold;
	color: #45A29E;
	font-family: Verdana, Arial, sans-serif; 
	text-shadow: 1px 1px #667;
	text-align: center;
}

.floatright { 
	float: right;
	margin-left: 4em;
}

aside { 
	float:right;
	width: 400px;
}

.center { text-align: center; }

table.center { 
	margin-left:auto; 
	margin-right:auto;
}

.clear { clear: both; }

.tab { text-indent: 2em; }

header, nav, main, footer { display: block; }

#hero { text-align: center; }

#wrapper { 
	width: 90%;
    margin-left: auto;
	margin-right: auto;
	background-color: #C5C6C7;
	min-width: 1200px;
	max-width: 1480px;
}

label { 
	float: left;
	display: block;
	text-align: right;
	font-weight: bold;
	width: 10em;
	padding-right: 1em;
}

input, textarea { 
	display: block;
	margin-bottom: 2em;
}

#mySubmit { margin-left: 12em; }

form { padding: 3em; }

#mobile { display: none; }

#desktop { display: inline; }	

@media only screen and (max-width: 1024px) {
	body { 
		margin: 0;
	    padding: 0; 
	}
	#wrapper { 
		width: 100%;
		min-width: 0; 
		margin: 0;
		padding: 0; 
	}
	header { padding-top: 1px; }
	h1 { 
		padding-top: 1em; 
		background-image: none;
		margin: 0;
		line-height: 200%;
	}
	nav { 
		float: none; 
	    width: auto;
		padding: 0; 
	}
	nav li { display: inline-block; }
	nav a { 
		padding: 1em;
	    margin-left: 0.3em;
		font-size: 1.2em;
		float: left;
		width: 23%; 
	}
	nav ul { 
		text-align: center;
		padding: 0; 
		margin: 0;
	}
	main { 
		padding: 2.5em 1em;
		margin: 0;
		font-size: 90%;
		clear: both; 
		font-size: 90%;
	}
	h2, h3, p, dl { 
		padding-left: 2em;
	    padding-right: 2em;
	}
	main ul { margin-left: 2em; }
	.floatright { 
		margin-right: 2em;
		margin-bottom: 1em;
	}
	.clear { padding-left: 2em; }
	footer { margin: 0; }
}

@media only all and (max-width: 768px) {
	h1 { 
		font-size: 1.5em;
	    padding-top: 0.25em;
		padding-left: 1.5em;
		width: 85%;
		text-align: center;
		background-image: none;
		line-height: 120%;		 
	}
	nav a { 
		padding: 0.2em;
	  	width: 45%;
		float: left;
		min-width: 6em;
		margin-left: 0.5em; 
		display: block;
		font-size: 1em;
		border-bottom: 1px solid #330000;
	}
	main { 
		padding-top: 0; 
		padding-left: 1em;
	}
	table { 
		display: block;
		position: relative;
		padding-bottom: 20px;
	}
	img { display: none; }
	.category { text-shadow: none; }
	.floatright { float: none; display: none; }
	footer { 
		padding: 0.5em;
	    margin: 0; 
	}
	#mobile { display: inline; }
    #desktop { display: none; }	   
}